.app {
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  background: rgb(9,9,121);
  background: linear-gradient(0deg, rgba(9,9,121,1) 0%, rgba(19,135,205,1) 50%, rgba(0,178,223,1) 100%);
  padding: 0.5rem;
}

